<div class="mat-elevation-z8">
  <mat-toolbar>
    <h1 class="mat-h1">Notes</h1>
  </mat-toolbar>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card>
    <mat-card-subtitle>
      The following is the list of all the class notes posted by all the
      teachers. Please go through the notes that concerns you.
    </mat-card-subtitle>
  </mat-card>
  <mat-accordion *ngIf="posts.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        <mat-panel-title> Chapter Name: {{ post.title }} </mat-panel-title>
        <mat-panel-description>
          Class: {{ post.standard }} | Subject: {{ post.subject }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ post.notes }}</p>
      <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
        <a
          mat-raised-button
          color="primary"
          [routerLink]="['/teacher/edit', post._id]"
          >Edit</a
        >
        <button mat-raised-button color="warn" (click)="onDelete(post._id)">
          Delete
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator
    [length]="totalPosts"
    [pageSize]="postsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
    *ngIf="posts.length > 0"
    color="accent"
  ></mat-paginator>
  <p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">
    No posts added yet!
  </p>
</div>
