.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: relative;
  top: 0;
  z-index: 1;
  /* -webkit-box-shadow: 0px 10px 10px 0px rgba(101, 24, 148, 0.623);
  -moz-box-shadow: 0px 10px 10px 0px rgba(101, 24, 148, 0.623);
  box-shadow: 0px 10px 10px 0px rgba(101, 24, 148, 0.623); */
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.right-links {
  display: flex;
}

a,
.right-links a {
  color: white;
  text-decoration: none;
}

section {
  opacity: 90%;
  width: 90%;
  margin: 0.5rem auto;
}

ul {
  list-style: none;
  display: flex;
}

mat-sidenav-content {
  background: url("https://c0.wallpaperflare.com/preview/546/322/393/5be9699334ac2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
